<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.one.fruitmanbuyer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/fruitman"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.report.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.premium.PremiumActivity" />
        <activity
            android:name=".ui.update_password.UpdatePasswordActivity"
            android:label="Update Password" />
        <activity android:name=".ui.maps.MapsActivity" />
        <activity android:name=".ui.product.ProductActivity" />
        <activity android:name=".ui.forget_password.ForgetPasswordActivity" />
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.update_profil.UpdateProfilActivity"
            android:label="Edit Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.complete.CompleteActivity"
            android:label="Daftar Transaksi Selesai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.in_progress.InProgressActivity"
            android:label="Daftar Dalam Proses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order_in.OrderInActivity"
            android:label="Daftar Menunggu Konfirmasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.detail_product.DetailProductActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />

        <service android:name=".utils.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>